@model TechJobsPersistent.Models.Employer;


<h1>Employer: Name</h1>

<div>
    <p>Name: name</p>
    <p>Location: location</p>
</div>


@*TODO:  The starter code comes with 3 views in the Employer subdirectory. 
    -- About
    -- Add
    -- Index
Read through the code in each view. 
You may have to add models or make sure naming is consistent 
between the controller and the view*@